body > div,
body > img,
body > [role="img"],
body > pre,
body > footer {
	content-visibility: auto;
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}
body * {
	text-wrap: pretty;
}
body > * {
	opacity: 0;
	animation: fade-in 0.5s ease-out forwards;
}
body > * * {
	opacity: 0;
	animation: fade-in 1s ease-out forwards;
}

html {
	background-color: var(--background-color--1);
	font-family: system-ui, ui-sans-serif, sans-serif;
	font-weight: var(--font-weight--4);
	font-size: 18px;
	color: var(--foreground-color--1);
	transition: var(--transition--background-color),
		var(--transition--font-weight), var(--transition--color);
}
body {
	max-width: var(--body-max-width);
	margin: 10vh auto;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--foreground-color-titles);
	transition: var(--transition--color), var(--transition--font-weight);
}
h1 {
	margin-block: 2.4em 0;
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: var(--font-weight--2);
}
h2 {
	margin-block: 1.8em 0;
	font-size: 2rem;
	line-height: 1.25;
	font-weight: var(--font-weight--3);
}
h3 {
	margin-block: 1em 0;
	font-size: 1.125rem;
	line-height: 1.5;
	font-weight: var(--font-weight--3);
}
h1 > *,
h2 > *,
h3 > *,
h4 > *,
h5 > *,
h6 > * {
	line-height: normal;
}

p,
figure {
	max-width: calc(100% - 2px);
	margin-inline: 0;
	margin-block: 1em;
}
figcaption {
	font-size: smaller;
	line-height: 2;
	color: var(--foreground-color--3);
}
figure > img,
figure > picture {
	max-width: 100%;
}
img,
[role="img"] {
	max-width: calc(100% - 2px);
	margin-inline: auto;
	outline: 1px solid var(--background-color--3);
	background-color: var(--background-color--2);
	transition: var(--transition--outline-color),
		var(--transition--background-color);
}
img {
	font-style: italic;
	vertical-align: middle;
	height: auto;
	background-image: var(--base64);
	background-size: cover;
	background-repeat: no-repeat;
}

a {
	display: inline-block;
	margin: 0 0.5em;
	padding: 0.25em 0;
	line-height: 1;
	color: var(--foreground-color--2);
	text-decoration: none;
	border-bottom: 1px solid;
	margin-bottom: 1px;
	transition: var(--transition--color), border-bottom-width 0.2s linear,
		margin-bottom 0.2s linear;
}
a[target="_blank"] {
	border-bottom-style: dashed;
}
a:hover {
	border-bottom-width: 2px;
	margin-bottom: 0;
}

small {
	color: var(--foreground-color--3);
}

ol {
	list-style-type: simp-chinese-informal;
}
li + li {
	margin-top: 0.5em;
}

pre,
code {
	font-family: ui-monospace, monospace;
	overflow-wrap: break-word;
	tab-size: 4;
	transition: var(--transition--outline-color),
		var(--transition--background-color);
}
p code,
pre {
	background-color: var(--background-color--2);
	outline: 1px solid var(--background-color--3);
	border: solid transparent;
}
p code {
	border-width: 0.125em 0.25em;
}
pre {
	border-width: 0.5em 1em;
	white-space: pre-wrap;
	max-height: 75vh;
	overflow: auto;
	transition: var(--transition--outline-color),
		var(--transition--background-color);
}
pre[data-lang]::before {
	content: attr(data-lang);
	float: right;
	padding: 0.5em 1em;
	padding-inline-end: 0.875em;
	background-color: var(--background-color--3);
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.125em;
	line-height: 1;
	text-transform: uppercase;
	transition: var(--transition--background-color);
}

footer {
	margin-top: 3em;
}
footer::before {
	content: "← ";
}

:root {
	color-scheme: light dark;
	--body-max-width: min(calc(100vw - 2em), 40em);
	--transition--background-color: background-color 350ms;
	--transition--font-weight: font-weight 350ms;
	--transition--color: color 350ms;
	--transition--outline-color: outline-color 350ms;
	--black--0: hsl(0, 0%, 0%);
	--black--1: hsl(0, 0%, 8%);
	--black--2: hsl(0, 0%, 12%);
	--black--3: hsl(0, 0%, 16%);
	--white--0: hsl(0, 0%, 100%);
	--white--1: hsl(0, 0%, 96%);
	--white--2: hsl(0, 0%, 94%);
	--white--3: hsl(0, 0%, 92%);
	--background-color--1: var(--white--1);
	--background-color--2: var(--white--2);
	--background-color--3: var(--white--3);
	--foreground-color--1: var(--black--1);
	--foreground-color--2: var(--black--2);
	--foreground-color--3: var(--black--3);

	--foreground-color-titles: var(--black--0);
	--font-weight--1: 1000;
	--font-weight--2: 800;
	--font-weight--3: 600;
	--font-weight--4: 400;
	--font-weight--5: 200;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color--1: var(--black--1);
		--background-color--2: var(--black--2);
		--background-color--3: var(--black--3);
		--foreground-color--1: var(--white--1);
		--foreground-color--2: var(--white--2);
		--foreground-color--3: var(--white--3);
		--foreground-color-titles: var(--white--0);
		--font-weight--1: 900;
		--font-weight--2: 700;
		--font-weight--3: 500;
		--font-weight--4: 300;
		--font-weight--5: 100;
	}
}
::selection {
	background-color: var(--foreground-color--1);
	color: var(--background-color--1);
}
