@import url("//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/default.min.css");
@import url("//unpkg.com/nord-highlightjs@0.1.0/dist/nord.css");
@import url("//cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css");

*,
::before {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
}
body > *,
article > *,
section > * {
	scroll-margin-block-start: 1em;
	scroll-snap-align: start;
}

body {
	color: #fff;
	background-color: #fff;
	background-image: linear-gradient(
		to right,
		hsla(calc(var(--theme-hue) - 5deg), 65%, 51%, 0.75) 5%,
		hsla(calc(var(--theme-hue) - 10deg), 73%, 60%, 0.75) 20%,
		hsla(calc(var(--theme-hue) - 10deg), 73%, 60%, 0.75) 60%,
		hsla(calc(var(--theme-hue) - 5deg), 65%, 51%, 0.75) 95%
	);
	text-shadow: 0 0.125em 0.25em
		hsla(calc(var(--theme-hue) + 6deg), 58%, 54%, 0.52);
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
	}
}

header {
	display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
	margin: 1em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 hsla(calc(var(--theme-hue) + 14deg), 63%, 33%, 0.278);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 0.5em;
	border: 1px solid rgba(255, 255, 255, 0.135);
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 2em - 2px);
	z-index: 1;
}
header > * {
	flex: 1em;
}

main {
	margin-top: 7.5em;
	scroll-margin-block-start: -7.5em;
}

article,
section {
	margin: 0.25em;
}

h1,
h2,
h3 {
	position: relative;
	padding-inline: 0.5em;
	padding-block: 0.25em;
	margin: 1em;
	background-color: hsla(0, 0%, 100%, 0.25);
	box-shadow: 0 8px 32px 0
		hsla(calc(var(--theme-hue) + 14deg), 63%, 33%, 0.278);
	border-radius: 0.5em;
	border: 1px solid rgba(255, 255, 255, 0.135);
}
h3 {
	width: fit-content;
	will-change: width;
}
h1::before,
h2::before,
h3::before {
	content: "";
	position: absolute;
	left: -0.625em;
	top: -0.325em;
	width: 2em;
	height: 1em;
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0
		hsla(calc(var(--theme-hue) + 14deg), 63%, 33%, 0.278);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 0.25em;
	border: 1px solid hsla(0, 0%, 100%, 0.135);
}
h3::before {
	width: 0.5em;
	height: 50%;
	left: -0.325em;
	top: 25%;
}
h1 > a::after,
h2 > a::after,
h3 > a::after,
h4 > a::after,
h5 > a::after,
h6 > a::after {
    content: "\F0337";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	width: 0;
	margin-inline-start: 0;
	opacity: 0;
    transition: margin-inline-start 75ms, width 75ms, opacity 150ms;
}
h1 > a:hover::after,
h2 > a:hover::after,
h3 > a:hover::after,
h4 > a:hover::after,
h5 > a:hover::after,
h6 > a:hover::after {
	width: 0.75em;
    margin-inline-start: 0.25em;
    opacity: 1;
}

p {
	margin-inline: 2.5em;
}
p.paragraph {
	text-indent: 2em;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
	margin-inline: 0.25em;
}
a:not(a.card) {
	background-image: linear-gradient(
		to right,
		transparent 50%,
		hsl(calc(var(--theme-hue) + 14deg), 63%, 33%) 50%
	);
	background-position: 0;
	background-size: 200%;
	transition: background-position 250ms;
}
a:not(a.card):not(a[href^="#"]) {
	border-bottom: 1px dashed;
}
a:not(a.card):not(a[href^="#"]):hover {
	background-position: -100%;
}
a[href]:not([class*="mdi"]):empty::after {
	content: attr(href);
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 0.5em;
	margin: 1em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0
		hsla(calc(var(--theme-hue) + 14deg), 63%, 33%, 0.278);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 0.5em;
	border: 1px solid rgba(255, 255, 255, 0.135);
}
a.card, button.card {
	display: inline-flex;
	gap: 0.25em;
	color: currentColor;
	transition: border-color 250ms;
}
a.card:hover,
a.card:active,
a.card:focus,
button.card:hover,
button.card:active,
button.card:focus {
	border-color: rgba(255, 255, 255, 0.635);
}

.mdi::before {
	font-size: 150%;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
}

#delimiter {
	animation: 1s blink steps(1) infinite;
}

pre,
pre > code {
	word-wrap: break-word;
	white-space: pre-wrap;
	tab-size: 2em;
	border-radius: 0.5em;
	text-shadow: none;
}
pre > code {
	max-height: 15.25em;
	transition: max-height 1500ms;
}
pre:hover > code,
pre > code:hover {
	max-height: 1000em;
}
pre > code > span {
	display: inline-block;
}

footer {
	text-align: center;
}

::selection {
	background-color: hsl(calc(var(--theme-hue) + 180deg), 63%, 33%);
	color: #fff;
}