@import url("//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/default.min.css");
@import url("//unpkg.com/nord-highlightjs@0.1.0/dist/nord.css");
@import url("//fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("//fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

pre,
pre > code {
	word-wrap: break-word;
	white-space: pre-wrap;
	tab-size: 2em;
	border-radius: 0.5em;
}
pre > code {
	max-height: 15.25em;
	transition: max-height 1500ms;
}
pre:hover > code,
pre > code:hover {
	max-height: 1000em;
}
pre > code > span {
	display: inline-block;
}

body {
	background-image: linear-gradient(
		to right,
		hsla(calc(var(--theme-hue) - 5deg), 65%, 51%, 0.75) 5%,
		hsla(calc(var(--theme-hue) - 10deg), 73%, 60%, 0.75) 20%,
		hsla(calc(var(--theme-hue) - 10deg), 73%, 60%, 0.75) 60%,
		hsla(calc(var(--theme-hue) - 5deg), 65%, 51%, 0.75) 95%
	);
}

article,
section {
	margin: 0.25em;
}

h1,
h2 {
	position: relative;
	padding: 0.5em;
	margin: 1em;
	color: #fff;
	text-shadow: 0 2px 4px hsla(calc(var(--theme-hue) + 6deg), 58%, 54%, 0.27);
	background: hsla(0, 0%, 100%, 0.25);
	box-shadow: 0 8px 32px 0
		hsla(calc(var(--theme-hue) + 14deg), 63%, 33%, 0.278);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 0.5em;
	border: 1px solid rgba(255, 255, 255, 0.135);
}
h1::before,
h2::before {
	content: "";
	position: absolute;
	left: -0.625em;
	top: -0.325em;
	width: 2em;
	height: 1em;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0
		hsla(calc(var(--theme-hue) + 14deg), 63%, 33%, 0.278);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 0.25em;
	border: 1px solid hsla(0, 0%, 100%, 0.135);
}
h2 {
	font-size: smaller;
}
a {
	color: hsl(calc(var(--theme-hue) + 14deg), 63%, 33%);
}
a[href]:empty::after {
	content: attr(href);
}

#svgDefs {
	display: none;
}

.card {
	display: flex;
	padding: 0.5em;
	margin: 1em;
	color: #fff;
	text-shadow: 0 2px 4px hsla(calc(var(--theme-hue) + 6deg), 58%, 54%, 0.27);
	text-decoration: none;
	text-align: center;
	font-weight: bolder;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0
		hsla(calc(var(--theme-hue) + 14deg), 63%, 33%, 0.278);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 0.5em;
	border: 1px solid rgba(255, 255, 255, 0.135);
	transition: border-color 250ms;
}
a.card {
	display: inline-flex;
}
a.card:hover,
a.card:active,
a.card:focus {
	border-color: rgba(255, 255, 255, 0.635);
}

[class|="material-symbols"] {
	display: inline-block;
	margin-inline: 0.25em;
	user-select: none;
	-webkit-user-select: none;
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.card > [class|="material-symbols"] {
	font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

:root {
	--theme-hue: 222deg;
}
