pre {
	max-height: unset;
	overflow-x: unset;
}
img,
[role="img"] {
	break-inside: avoid-page;
}
th,
tr:nth-child(2n) > td {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}
footer {
	display: none;
}
a[href],
a[href]::after {
	border-bottom: unset;
	text-decoration: underline;
	text-underline-offset: 0.25em;
	line-height: 1.25;
}
a[href]::after {
	vertical-align: bottom;
}
a[href^="#"],
a[href^="#"]::after {
	border-bottom-style: unset;
	text-decoration-style: dotted;
}
a[target="_blank"],
a[target="_blank"]::after {
	border-bottom-style: unset;
	text-decoration-style: dashed;
}
a[href]::after {
	content: "（" attr(href) "）";
	display: inline-block;
	overflow-wrap: anywhere;
	font-style: italic;
	font-size: 0.75em;
}
